clairmeta/xsd/DCSubtitle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- DCSubtitle -->
    <xs:element name="DCSubtitle" type="DCSubtitleType"/>
    <xs:complexType name="DCSubtitleType">
        <xs:sequence>
            <xs:element name="SubtitleID" type="UUID"/>
            <xs:element name="MovieTitle" type="xs:string"/>
            <xs:element name="ReelNumber" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="Language" type="xs:language" minOccurs="0" default="en"/>
            <xs:element name="LoadFont" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="Id" type="NonEmptyElement" use="required"/>
                    <xs:attribute name="URI" type="xs:anyURI" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Font" type="FontType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Subtitle" type="SubtitleType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1.0"/>
                    <xs:enumeration value="1.1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Subtitle -->
    <xs:complexType name="SubtitleType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="Text" type="TextType"/>
                <xs:element name="Image" type="ImageType"/>
                <xs:element name="Font">
                    <xs:complexType mixed="true">
                        <xs:complexContent mixed="true">
                            <xs:extension base="FontType">
                                <xs:sequence>
                                    <xs:element name="Text" type="TextType" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="SpotNumber" type="xs:string" use="optional"/>
        <xs:attribute name="TimeIn" type="TimeCodeType" use="required"/>
        <xs:attribute name="TimeOut" type="TimeCodeType" use="required"/>
        <xs:attribute name="FadeUpTime" type="FadeTimeCode" use="optional"/>
        <xs:attribute name="FadeDownTime" type="FadeTimeCode" use="optional"/>
    </xs:complexType>

    <!-- Image -->
    <xs:complexType name="ImageType" mixed="false">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute name="HAlign" use="optional" default="center">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="center"/>
                            <xs:enumeration value="left"/>
                            <xs:enumeration value="right"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="HPosition" use="optional" default="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-100"/>
                            <xs:maxInclusive value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="VAlign" use="optional" default="center">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="center"/>
                            <xs:enumeration value="bottom"/>
                            <xs:enumeration value="top"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="VPosition" use="optional" default="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-100"/>
                            <xs:maxInclusive value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Font -->
    <xs:complexType name="FontType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Font" type="FontType"/>
            <xs:element name="Subtitle" type="SubtitleType"/>
        </xs:choice>
        <xs:attribute name="Script" use="optional" default="normal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="super"/>
                    <xs:enumeration value="sub"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Effect" use="optional" default="shadow">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="border"/>
                    <xs:enumeration value="shadow"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Italic" use="optional" default="no">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Underlined" use="optional" default="no">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Weight" use="optional" default="normal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="normal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Id" type="xs:string" use="optional"/>
        <xs:attribute name="Color" use="optional" default="FFFFFFFF">
            <xs:simpleType>
                <xs:restriction base="xs:hexBinary">
                    <xs:length value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="EffectColor" use="optional" default="FF000000">
            <xs:simpleType>
                <xs:restriction base="xs:hexBinary">
                    <xs:length value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Size" use="optional" default="42">
            <xs:simpleType>
                <xs:restriction base="xs:positiveInteger"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="AspectAdjust" use="optional" default="1.0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.25"/>
                    <xs:maxInclusive value="4.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Spacing" use="optional" default="0em">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?(\d+|\d+\.\d+)em"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="EffectSize" use="optional" default="0.01">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Text -->
    <xs:complexType name="TextType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Font" type="FontType"/>
            <xs:element name="Ruby" type="RubyType"/>
            <xs:element name="Space" type="SpaceType"/>
            <xs:element name="HGroup" type="xs:string"/>
            <xs:element name="Rotate" type="RotateType"/>
        </xs:choice>
        <xs:attribute name="HAlign" use="optional" default="center">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="HPosition" use="optional" default="0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-100"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VAlign" use="optional" default="center">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="bottom"/>
                    <xs:enumeration value="top"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VPosition" use="optional" default="0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-100"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Direction" use="optional" default="horizontal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="horizontal"/>
                    <xs:enumeration value="vertical"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- TimeCode Type -->
    <xs:simpleType name="TimeCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9][:\.][0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- FadeTimeCode Type -->
    <xs:simpleType name="FadeTimeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9][:\.][0-9]+|\d{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ruby Type -->
    <xs:complexType name="RubyType">
        <xs:sequence>
            <xs:element name="Rb">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Rt">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Size" use="optional" default="0.5">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minExclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="Position" use="optional" default="before">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="before"/>
                                        <xs:enumeration value="after"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="Offset" use="optional" default="0.0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="-1.0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="Spacing" use="optional" default="0.0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="-1.0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="AspectAdjust" use="optional" default="1.0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.25"/>
                                        <xs:maxInclusive value="4.0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Rotate Type -->
    <xs:complexType name="RotateType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Direction" use="optional" default="none">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="none"/>
                            <xs:enumeration value="left"/>
                            <xs:enumeration value="right"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Space Type -->
    <xs:complexType name="SpaceType">
        <xs:simpleContent>
            <xs:extension base="EmptyElement">
                <xs:attribute name="Size" use="optional" default="0.5">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-1.0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- UUID Type -->
    <xs:simpleType name="UUID">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- EmptyElement Type -->
    <xs:simpleType name="EmptyElement">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- NonEmptyElement Type -->
    <xs:simpleType name="NonEmptyElement">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
