clairmeta/xsd/DCSubtitle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- DCSubtitle -->
    <xs:element name="DCSubtitle" type="DCSubtitleType"/>
    <xs:complexType name="DCSubtitleType">
        <xs:sequence>
            <xs:element name="SubtitleID" type="UUID"/>
            <xs:element name="MovieTitle" type="xs:string"/>
            <xs:element name="ReelNumber" type="xs:string"/>
            <xs:element name="Language" type="xs:string"/>
            <xs:element name="LoadFont" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="Id" type="NonEmptyType" use="required"/>
                    <xs:attribute name="URI" type="RelativePathnameType" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Subtitle" type="SubtitleType"/>
                <xs:element name="Font" type="FontTypeDocumentLevel"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:pattern value="1\.[0-1]"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Subtitle -->
    <xs:complexType name="SubtitleType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="Text" type="TextType"/>
                <xs:element name="Image" type="ImageType"/>
                <xs:element name="Font">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="FontTypeSubtitleLevel">
                                <xs:sequence>
                                    <xs:element name="Text" type="TextType" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="SpotNumber" type="NonEmptyType" use="required"/>
        <xs:attribute name="TimeIn" type="TimeCodeType" use="required"/>
        <xs:attribute name="TimeOut" type="TimeCodeType" use="required"/>
        <xs:attribute name="FadeUpTime" type="FadeTimeCode" use="optional" default="20"/>
        <xs:attribute name="FadeDownTime" type="FadeTimeCode" use="optional" default="20"/>
    </xs:complexType>

    <!-- Image -->
    <xs:complexType name="ImageType" mixed="false">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute name="HAlign" use="optional" default="center">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="center"/>
                            <xs:enumeration value="left"/>
                            <xs:enumeration value="right"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="HPosition" use="optional" default="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-100"/>
                            <xs:maxInclusive value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="VAlign" use="optional" default="center">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="center"/>
                            <xs:enumeration value="bottom"/>
                            <xs:enumeration value="top"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="VPosition" use="optional" default="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-100"/>
                            <xs:maxInclusive value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Font -->
    <xs:complexType name="FontType" mixed="true" abstract="true">
        <xs:attribute name="Script" use="optional" default="normal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="super"/>
                    <xs:enumeration value="sub"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Effect" use="optional" default="shadow">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="border"/>
                    <xs:enumeration value="shadow"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Italic" use="optional" default="no">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Underlined" use="optional" default="no">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Weight" use="optional" default="normal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="normal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Id" type="NonEmptyType" use="optional"/>
        <xs:attribute name="Color" use="optional" default="FFFFFFFF">
            <xs:simpleType>
                <xs:restriction base="xs:hexBinary">
                    <xs:length value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="EffectColor" use="optional" default="FF000000">
            <xs:simpleType>
                <xs:restriction base="xs:hexBinary">
                    <xs:length value="4"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Size" use="optional" default="42">
            <xs:simpleType>
                <xs:restriction base="xs:positiveInteger"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="AspectAdjust" use="optional" default="1.0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.25"/>
                    <xs:maxInclusive value="4.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Spacing" type="emType" use="optional" default="0em"/>
        <xs:attribute name="EffectSize" use="optional" default="0.01">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Font Document Level-->
    <xs:complexType name="FontTypeDocumentLevel">
        <xs:complexContent>
            <xs:restriction base="FontType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Font" type="FontTypeDocumentLevel"/>
                    <xs:element name="Subtitle" type="SubtitleType"/>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- Font Subtitle Level-->
    <xs:complexType name="FontTypeSubtitleLevel">
        <xs:complexContent>
            <xs:restriction base="FontType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Font" type="FontTypeSubtitleLevel"/>
                    <xs:element name="Text" type="TextType"/>
                    <xs:element name="Image" type="ImageType"/>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- Font Text Level-->
    <xs:complexType name="FontTypeTextLevel" mixed="true">
        <xs:complexContent>
            <xs:restriction base="FontType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Font" type="FontTypeTextLevel"/>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- Text -->
    <xs:complexType name="TextType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Font" type="FontTypeTextLevel"/>
            <xs:element name="Ruby" type="RubyType" maxOccurs="unbounded"/>
            <xs:element name="Space" type="SpaceType" maxOccurs="unbounded"/>
            <xs:element name="HGroup" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="Rotate" type="RotateType" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="HAlign" use="optional" default="center">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="HPosition" use="optional" default="0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-100"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VAlign" use="optional" default="center">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="bottom"/>
                    <xs:enumeration value="top"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VPosition" use="optional" default="0">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="-100"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Direction" use="optional" default="horizontal">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="horizontal"/>
                    <xs:enumeration value="vertical"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- TimeCode Tick Type -->
    <xs:simpleType name="TimeCodeTypeTick">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9]:([0-1][0-9]{2}|2[0-4][0-9])"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- TimeCode Fraction Type -->
    <xs:simpleType name="TimeCodeTypeFraction">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9]\.[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- TimeCode Type -->
    <xs:simpleType name="TimeCodeType">
        <xs:union memberTypes="TimeCodeTypeTick TimeCodeTypeFraction"/>
    </xs:simpleType>

    <!-- Tick Type -->
    <xs:simpleType name="TickType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="249"/>
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- FadeTimeCode Type -->
    <xs:simpleType name="FadeTimeCode">
        <xs:union memberTypes="TickType TimeCodeType"/>
    </xs:simpleType>

    <!-- Em Type -->
    <xs:simpleType name="emType">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?([0-9]+|[0-9]+\.[0-9]+)em"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ruby Type -->
    <xs:complexType name="RubyType">
        <xs:sequence>
            <xs:element name="Rb">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Rt">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Size" type="emType" use="optional" default="0.5em"/>
                            <xs:attribute name="Position" use="optional" default="before">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="before"/>
                                        <xs:enumeration value="after"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="Offset" type="emType" use="optional" default="0em"/>
                            <xs:attribute name="Spacing" type="emType" use="optional" default="0em"/>
                            <xs:attribute name="AspectAdjust" use="optional" default="1.0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.25"/>
                                        <xs:maxInclusive value="4.0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Rotate Type -->
    <xs:complexType name="RotateType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Direction" use="optional" default="none">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="none"/>
                            <xs:enumeration value="left"/>
                            <xs:enumeration value="right"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Space Type -->
    <xs:complexType name="SpaceType">
        <xs:attribute name="Size" type="emType" use="optional" default="0.5em"/>
    </xs:complexType>

    <!-- UUID Type -->
    <xs:simpleType name="UUID">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- NonEmpty Type -->
    <xs:simpleType name="NonEmptyType">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- RelativePathname Type -->
    <xs:simpleType name="RelativePathnameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9]{1}([A-Za-z0-9_\-.])*)([/]{1}[A-Za-z0-9]{1}([A-Za-z0-9_\-.])*)*"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
